<%= render 'layouts/dashboardheader' %>

<%= render 'shared/member_sidebar' %>

<div class="fullcontainer"><br>
  <div class="row">
    <div class="col-md-10">
      <% @purchases.order("id DESC").each do |purchase| %>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading preview">
              <%= image_tag thumbnail1_url(purchase.course) %>
            </div>
            <div class="panel-body">
              メモ：リンクでセクション１へ！！！！
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

    
    