@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "font-awesome-sprockets";
@import "font-awesome";

/**  navigation bar　**/
body {  
  color: #565a5c;
}
.container {
  width: 80%;
}
.fullcontainer {
  width: 100%;
}
.navbar-default {
  background-color: #FFFFFF;
}
.navbar-default .navbar-brand {
  color: #FF5A5F;
  font-size: 2em;
  font-weight: 400;
}
.btn-primary.btn {
  border: 1px solid #ff5a5f;
  border-radius: 2px;
  font-weight: bold;
  background-color: #ff5a5f;
  color: #fff;
  padding: 10px 25px 10px 25px;
}
.btn-primary.btn:hover, .btn-primary.btn:focus {
  border-color: #ff7e82;
  border-bottom-color: #fa0008;
  background-color: #ff7e82;  
  outline:none;
}
.btn-primary.btn:active {
  border-color: #e00007;
  background-color: #e00007;  
  outline:none;
}
.btn-default.btn {
  width: 100%;
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 10px; 
}
.panel-default .panel-heading {
  color: #565a5c;
  background-color: #edefed;
  font-size: 18px;
  font-weight: 400
}
.row-space-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}
.row-space-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}
.row-space-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.description {
  color: #575757;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

#menu-wrap {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,.5);
  transition: .3s;
}
#menu {
  list-style-type: none;
  width: 1080px;
  margin: 0px auto;
  padding: 0;
}
#menu li {
  width: 20%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
#menu li a {
  display: block;
  width : 100%;
  padding: 20px 0;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  transition: .3s;
}
#menu li a:hover {  background: rgba(0,0,0,.3) }

.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #00bce4;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #00bce4;
}

.navbar-default {
    background-color: #222;
    border-color: #00bce4;
}
/**  navigation bar **/

/**  Home　**/
.home-headerimg {
    height: 700px;
    padding-left: 130.5px;
    padding-right: 130.5px; 
    border-left: 0px none; 
    border-right: 0px none;
    background: image-url("home_header.jpg") no-repeat center center scroll;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 40px;
}
.headline {
    padding: 40px 0;
}

.inner_box_search {
    background-color: rgba(27, 27, 27, 0.8);
    border-radius: 4px;
    color: #c8c8c8;
    left: 50%;
    margin: 0;
    min-width: 936px;
    padding: 45px 0 56px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
/**  Home　**/

/**  footer　**/
.footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  background-color: #424242;
}
.footer .footer-text > p {
  color: white;
  font-size: 1em;
  font-weight: 400;
}
.footer .footer-text > h2 {
  color: white;
  font-size: 2em;
  font-weight: 400;
}
.footer .footer-text > li > a {
    color: white;
}
/**  footer　**/

/**  devise　**/
.devise_img {
    height: 700px;
    padding-left: 130.5px;
    padding-right: 130.5px; 
    border-left: 0px none; 
    border-right: 0px none;
    background: image-url("deviseback.jpg") no-repeat center center scroll;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.deviseline {
    padding: 40px 0;
}

.inner_box_devise {
    background-color: rgba(27, 27, 27, 0.8);
    border-radius: 4px;
    color: #c8c8c8;
    left: 50%;
    margin: 0;
    min-width: 936px;
    padding: 45px 0 56px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
/**  devise　**/

/**  course:show　**/

.course-hd-image {
    display: block;
    width: 100%;
    height: 400px;
    margin-top: -20px;
    text-align: center;
    background: image-url("courseback.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 40px;
}

.course-headline {
    padding-top: 150px;
    padding-bottom: 50px;
}
.course-headline h2 {
    font-size: 44px;
    line-height: 1.6em;
    color: #fff;
}
.heading_info {
    margin-top: 0px;
}
.heading_info ul {
    margin: 0;
}
.heading_info ul li {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding-left: 21px;
    padding-right: 21px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
}
.heading_info ul li {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}
.heading_info ul li label {
    color: #c8c8c8;
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 8px;
    text-align: left;
    text-transform: none;
}
.heading_info ul li .author .info a {
    color: #fff;
}
.heading_info ul li .author .info {
    display: inline-block;
    vertical-align: top;
}
/**  course:show　**/

nav.sidebar.navbar {
		border-radius: 0px;
	}

	nav.sidebar, .main{
		-webkit-transition: margin 200ms ease-out;
	    -moz-transition: margin 200ms ease-out;
	    -o-transition: margin 200ms ease-out;
	    transition: margin 200ms ease-out;
	}

	/* Add gap to nav and right windows.*/
	.main{
		padding: 10px 10px 0 10px;
	}

	/* .....NavBar: Icon only with coloring/layout.....*/

	/*small/medium side display*/
	@media (min-width: 768px) {

		/*Allow main to be next to Nav*/
		.main{
			position: absolute;
			width: calc(100% - 40px); /*keeps 100% minus nav size*/
			margin-left: 40px;
			float: right;
		}

		/*lets nav bar to be showed on mouseover*/
		nav.sidebar:hover + .main{
			margin-left: 200px;
		}

		/*Center Brand*/
		nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
			margin-left: 0px;
		}
		/*Center Brand*/
		nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
			text-align: center;
			width: 100%;
			margin-left: 0px;
		}

		/*Center Icons*/
		nav.sidebar a{
			padding-right: 13px;
		}

		/*adds border top to first nav box */
		nav.sidebar .navbar-nav > li:first-child{
			border-top: 1px #e5e5e5 solid;
		}

		/*adds border to bottom nav boxes*/
		nav.sidebar .navbar-nav > li{
			border-bottom: 1px #e5e5e5 solid;
		}

		/* Colors/style dropdown box*/
		nav.sidebar .navbar-nav .open .dropdown-menu {
			position: static;
			float: none;
			width: auto;
			margin-top: 0;
			background-color: transparent;
			border: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		/*allows nav box to use 100% width*/
		nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
			padding: 0 0px 0 0px;
		}

		/*colors dropdown box text */
		.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
			color: #777;
		}

		/*gives sidebar width/height*/
		nav.sidebar{
			width: 200px;
			height: 100%;
			margin-left: -160px;
			float: left;
			z-index: 8000;
			margin-bottom: 0px;
		}

		/*give sidebar 100% width;*/
		nav.sidebar li {
			width: 100%;
		}

		/* Move nav to full on mouse over*/
		nav.sidebar:hover{
			margin-left: 0px;
		}
		/*for hiden things when navbar hidden*/
		.forAnimate{
			opacity: 0;
		}
	}

	/* .....NavBar: Fully showing nav bar..... */

	@media (min-width: 1330px) {

		/*Allow main to be next to Nav*/
		.main{
			width: calc(100% - 200px); /*keeps 100% minus nav size*/
			margin-left: 200px;
		}

		/*Show all nav*/
		nav.sidebar{
			margin-left: 0px;
			float: left;
		}
		/*Show hidden items on nav*/
		nav.sidebar .forAnimate{
			opacity: 1;
		}
	}

	nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #CCC;
		background-color: transparent;
	}

	nav:hover .forAnimate{
		opacity: 1;
	}
	section{
		padding-left: 15px;
	}

.headline h2 {
    font-size: 30px;
    color: #fff;
}
.avatar-small {
  height: 50px;
  width: 50px;
}
.avatar-medium {
  width: 48px;
}
.avatar-large {
  width: 150px;
}
.avatar-full {
  width: 100%;
}


.form-group {
  margin-bottom: 25px;
}
.form-control {
  border-radius: 2px;
  height: 4rem;
}
.sidebar-list {
  padding-left: 0;
  list-style: none;
}
.sidebar-item {
  padding: 10px 0;
  font-size: 16px;
  color: #82888a;
  border-bottom: 1px solid #CCC;
}
.sidebar-link {
  color: #82888a;
  text-decoration: none;
}
.sidebar-link:hover, .sidebar-link:focus {
  color: #cacccd;
  text-decoration: none;
}
.active.sidebar-link {
  color: #565a5c;
  font-weight: bold;
  text-decoration: none;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

label {
  color: #565a5c;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 10px;
}
select {
  color: #565a5c;
  background-color: #fff;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 10px;
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
}
.select:before {
  content: '\25bc';
  font-size: 1.2em;
  position: absolute;  
  color: #82888A;
  top: 40px;  
  right: 30px;
  transform: scale(0.84, 0.42);
}
input[type="checkbox"] {
  height: 1.25em;
  width: 1.25em;
  margin-bottom: -0.25em;
  margin-right: 5px;
  vertical-align: top;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
}
input[type="checkbox"]:checked:before {
  content: "\2713";
  position: absolute;
  font-size: 0.95em;
  text-align: center;
  width: 1.25em;
  color: #ff5a5f;
}


.pagination>li {
display: inline;
padding:0px !important;
margin:0px !important;
border:none !important;
}
.modal-backdrop {
  z-index: -1 !important;
}
/*
Fix to show in full screen demo
*/
iframe
{
    height:700px !important;
}

.btn-primary {
color: #fff !important;
background: #428bca !important;
border-color: #357ebd !important;
box-shadow:none !important;
}

.navbar {
    margin-bottom: 0px;
}

.profile-hd-image {
    display: block;
    width: 100%;
    height: 300px;
    margin-top: -20px;
    text-align: center;
    background: image-url("courseback.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 40px;
}

.profile-headline {
    padding: 150px 0;
    color: white;
}
.single-button .price-box {
    font-size: 30px;
    font-weight: 700;
    background: #f6f9fa;
    text-align: center;
    padding: 28px 10px 34px;
    border: 1px solid #e1e8ed;
}
.single-button .button-box {
    border: 1px solid #e1e8ed;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgb(225, 232, 237);
    border-top: 0;
    padding: 30px 21px;
}
.single-button .button-box button {
    width: 100%;
    margin: 0 0 15px;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 36px;
    color: inherit;
}
.single-button .button-box .includes-box ul li {
    margin-bottom: 7px;
}
.single-button .button-box .includes-box {
    padding-top: 23px;
    margin-top: 23px;
    border-top: 1px solid #e1e8ed;
}
.single-button .button-box .includes-box ul {
    list-style: none;
}
.single-button .button-box .includes-box ul li i {
    margin-right: 10px;
}
.single-button .button-box .includes-box h3 {
    margin: 0 0 5px;
    text-align: center;
}
.course_image {
  width: 100%;
  height: 100%;
}
.single-button .button-box .includes-box ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.section-hd-image {
    display: block;
    width: 100%;
    height: 400px;
    margin-top: -20px;
    text-align: center;
    background: image-url("courseback.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 40px;
}

.section-headline {
    padding-top: 150px;
    padding-bottom: 50px;
}
.section-headline h2 {
    font-size: 44px;
    line-height: 1.6em;
    color: #fff;
}