<footer class="footer">
  <div class="container">
    <div class="col-md-6 footer-text">
      <h2>AnelloTecについて</h2>
      <p>AnelloTecは、イタリア語の「Anello（輪）」と「Tecnologia（テクノロジー）」を組み合わせた「テクノロジーの輪」を現す造語です。 本サイトでは、様々なテクノロジーを動画やテキストで学ぶことができます。このサイトを通して、輪に加わるエンジニアが増えることを望みます。</p>
    </div>
    <div class="col-md-3 footer-text">
      <h2>Navigate</h2>
    プライバシーポリシー
    利用規約
	    <li><%= link_to 'ログイン（講師）', new_instructor_session_path %></li>
	  </div>
    <div class="col-md-3">Social
    
    Twitter(準備中)

  </div>
</footer>